/* style.css */

body {
  padding-top: 56px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.search-box {
  margin-right: 20px;
}

.cart-icon {
  margin-left: 20px;
}

/*-------------Menu bar---------------------*/

.menu-bar {
  background-color:aliceblue;
  position: relative;
  z-index: 1000;
}

.menu-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
}

.menu-bar ul li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.menu-bar ul li a:hover {
  color: #333;
}

.container {
  margin-top: 20px; /* Giảm khoảng cách phía dưới .navbar để .menu-bar nằm gần nhau */
  padding-top: 10px; /* Tăng khoảng cách trên .container nếu cần thiết */
}
